:root{
    --primary:#fdfdfd;
    --light:#b1b1b1;
    --dark:#000000;
    --primaryback:#748831;
    --secondaryback:#0e2927;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 2rem;
    text-align: center;
}

h2{
    font-size: 1rem;
}

h3{
    font-size: .8rem;
}

.back h2 {
    font-size: .8rem;
    text-align: center;
    color: white;
    padding: .6rem;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap:20px;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 220px;
    height: 290px;

}

.card.is-flipped{
    transform: rotateY(180deg);
}
.card {
    width: 100%;
    height: 100%;
    transition: transform .5s ease-in-out;
    cursor: pointer;
    transform-style: preserve-3d;
}

.front {
    background-image: linear-gradient(190deg, var(--primary), var(--light));
    width: 100%;
    height: 100%;
    position:absolute;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 2px 9px var(--light);
    text-align: center;
}

.back {
    background-image: radial-gradient(closest-side, var(--primaryback), var(--secondaryback));
    width: 100%;
    height: 100%;
    position:absolute;
    transform: rotatey(180deg);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}